name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test-check:
    name: runner / black-format (github-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: info
          workdir: ./testdata/
      - name: Check if code is left untouched (not formatted)
        run: |
          changed_files=$(git status --porcelain --untracked-files=no | wc -l)
          if [[ ${changed_files} -eq 1 ]]; then
            echo "No changes detected!"
            exit 1
          else
            echo "Changes detected!"
          fi

  test-check-format:
    name: runner / black-format (github-check-format)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: info
          format: true
          workdir: ./testdata/
      - name: Check if formatting was successful
        run: |
          changed_files=$(git status --porcelain --untracked-files=no | wc -l)
          if [[ ${changed_files} -eq 0 ]]; then
            echo "No changes detected!"
            exit 1
          else
            echo "Changes detected!"
          fi

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / black-format (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          workdir: ./testdata/
      - name: Check if code is left untouched (not formatted)
        run: |
          changed_files=$(git status --porcelain --untracked-files=no | wc -l)
          if [[ ${changed_files} -eq 1 ]]; then
            echo "No changes detected!"
            exit 1
          else
            echo "Changes detected!"
          fi

  test-pr-check-format:
    if: github.event_name == 'pull_request'
    name: runner / black-format (github-pr-check-format)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          format: true
          workdir: ./testdata/
      - name: Check if formatting was successful
        run: |
          changed_files=$(git status --porcelain --untracked-files=no | wc -l)
          if [[ ${changed_files} -eq 0 ]]; then
            echo "No changes detected!"
            exit 1
          else
            echo "Changes detected!"
          fi

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / black-format (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          reviewdog_flags: -filter-mode=file -fail-on-error
          workdir: ./testdata/
      - name: Check if code is left untouched (not formatted)
        run: |
          changed_files=$(git status --porcelain --untracked-files=no | wc -l)
          if [[ ${changed_files} -eq 1 ]]; then
            echo "No changes detected!"
            exit 1
          else
            echo "Changes detected!"
          fi

  test-pr-review-format:
    if: github.event_name == 'pull_request'
    name: runner / black-format (github-pr-review-format)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          reviewdog_flags: -filter-mode=file -fail-on-error
          format: true
          workdir: ./testdata/
      - name: Check if formatting was successful
        run: |
          changed_files=$(git status --porcelain --untracked-files=no | wc -l)
          if [[ ${changed_files} -eq 0 ]]; then
            echo "No changes detected!"
            exit 1
          else
            echo "Changes detected!"
          fi